<nav class="col-md-2 d-md-block bg-dark sidebar collapse" id="sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="fas fa-home"></i> Início
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/filhos">
                    <i class="fas fa-child"></i> Filhos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/galeria">
                    <i class="fas fa-image"></i> Galeria
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-cog"></i> Configurações
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:geral.logout();">
                    <i class="fas fa-sign-out-alt"></i> Sair
                </a>
            </li>
        </ul>
    </div>
</nav>